*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header
{
    width: 100%;
    height: 100vh;
}

.content
{
    margin-left: -10%;
    margin-top: 43px;
    font-size: 25px;
    text-align: justify;
}

.content .author
{
    position: absolute;
    margin-left: 40%;
    margin-top: -15px;
    padding-bottom: 20px;
}


.side-nav
{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #018037;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo
{
    display: block;
    margin-bottom: 130px;
}

.nav-links
{
    position: relative;
    list-style: none;
}

.nav-links li
{
    font-size: 20px;
    padding: 10px 0;
}

.nav-links li a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i
{
    font-size: 30px;
    margin-right: 20px;
}

.active
{
    background: #fff;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    top: 5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(2, green, blue, alpha);
    display: none;
    transition: 0.5s;
}

.nav-links li:hover a
{
    color: #018037;
    transition: 0.3s;
}

.nav-links li:hover ~ .active
{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active
{
    top: 5%;
}

.nav-links li:nth-child(2):hover ~ .active
{
    top: 38%;
}

.nav-links li:nth-child(3):hover ~ .active
{
    top: 72%;
}

.stripes
{
    position: absolute;
    margin-top: -1.5%;
    margin-left: 95%;
}

.stripes2
{
    position: absolute;
    margin-top: 18.5%;
    margin-left: 95%;
}

.stripes3
{
    position: absolute;
    margin-top: 28.5%;
    margin-left: 95%;
}